@model HRManagement.Data.Models.Employee


@{
    ViewBag.Title = "Employee Record";


    var imgx = ViewBag.Cert;

}

@if (Model != null)
{



    <div class="card">
        <div class="card-heading">
            <h4 class="float-r me-3">@Model.Name</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">

                        <img class="img-rounded" src="@imgx" width="150" height="150" alt="NO PASSPORT" />
                        <hr />
                        <a class="nav-link active" href="@Url.Action("UploadPassport","UserEmployee")">  <b class="lead">&nbsp; <i class="fa fa-arrow-circle-left"></i> &nbsp; Upload <span class="text-warning">Passport</span></b></a>
                        <hr />
                    </div>
                </div>
                <br />
            </div>
            <div class="row">
                <h3 class="text-center">Employee Details</h3>
                <div class="col-md-6">
                    <h4 class="text-info">Profile</h4>
                    <h5>Email Address</h5>
                    <p><b>@Model.Email</b></p>
                    <h5>Gender</h5>
                    <p><b>@Model.Gender</b></p>
                    <h5>Date of Birth</h5>
                    <p><b>@Model.DOB.ToString("dd/MM/yyyy")</b></p>
                    <h5>Date of Employment</h5>
                    <p><b>@Model.DOE.ToString("dd/MM/yyyy")</b></p>
                    <h5>Designation/Department</h5>
                    <p><b>@Model.Designation.Name</b></p>
                    <h5>Job Unit/Branch</h5>
                    <p><b>@Model.Branch.Name</b></p>
                    <h5>Date Created</h5>
                    <p><b>@Model.CreatedAt.ToString("dd/MM/yyyy")</b></p>
                    <br />
                </div>
                <div class="col-md-6">
                    <h4 class="text-info">Account Information</h4>

                    <h5>Basic Salary</h5>
                    <p><b>@Model.BasicSalary.ToString("c", ViewBag.CurrencyFmt)</b></p>
                    <h4>Allowances:</h4>
                    <h5>Housing</h5>
                    <p><b>@Model.HousingAllowance.ToString("c", ViewBag.CurrencyFmt)</b></p>
                    <h5>Transportation</h5>
                    <p><b>@Model.TransportAllowance.ToString("c", ViewBag.CurrencyFmt)</b></p>
                    <h5>Utility</h5>
                    <p><b>@Model.UtilityAllowance.ToString("c", ViewBag.CurrencyFmt)</b></p>

                    <h5 class="text-info">Other Financial Records</h5>
                    <h5>Pension</h5>
                    <p><b>@Model.Pension.ToString("c", ViewBag.CurrencyFmt)</b></p>
                    <h5>Taxiation</h5>

                    <p>
                        <b>
                            @Model.Tax% of @Model.BasicSalary =
                            <span style="color:red;">
                                @{
                                    double tax = (Model.Tax / 100) * Convert.ToDouble(Model.BasicSalary);
                                }
                                @tax.ToString("C", ViewBag.CurrencyFmt)
                            </span>
                        </b>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr />

                    <h5 class="text-info">Final Account Records</h5>
                    <div class="float-r">
                        <h5>Gross Salary</h5>
                        <p style="font-size:1.5em;"><b>@Model.GrossSalary.ToString("c", ViewBag.CurrencyFmt)</b></p>
                    </div>
                    <br />
                    <br />
                    <br />
                    <div class="float-r">
                        <h5>Net Salary</h5>
                        <p style="font-size:1.5em;"><b>@Model.NetSalary.ToString("c", ViewBag.CurrencyFmt)</b></p>
                    </div>

                    <br />
                </div>
            </div>
        </div>


    </div>





}




